[submodule "Metaball"]
	path = Metaball
	url = https://github.com/hackenbacker/Metaball.git
[submodule "BlurredSheet"]
	path = BlurredSheet
	url = git@github.com:hackenbacker/BlurredSheet.git
[submodule "HeartAnimation"]
	path = HeartAnimation
	url = https://github.com/hackenbacker/HeartAnimation.git
